:root {
  --primary-font-family: "Inter", sans-serif;
  --primary-font-color: #4b5563;
  --important-heading-family: "Covered By Your Grace", cursive;
}

h1 {
  font-size: 60px;
  font-family: var(--important-heading-family);
}

p {
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
}

.text-center {
  text-align: center;
}
.intro-body {
  margin: 96px 80px;
}

.intro {
  line-height: 24px;
}

.location-and-availability {
  margin-top: 36px;
  line-height: 32px;
}

.social-connect {
  color: var(--primary-font-color);
  font-size: 24px;
  margin: 15px 8px;
}

.about-developer {
  background-color: #f1f4f6;
  padding: 96px 80px;
}

.heading {
  font-family: var(--important-heading-family);
}

.skills-container {
  padding: 96px 80px;
}
