:root {
  --primary-font-family: "Inter", sans-serif;
  --primary-font-color: #4b5563;
  --important-heading-family: "Covered By Your Grace", cursive;
  --background-color: #f6f0e9;
}

h1 {
  font-size: 60px;
  font-family: var(--important-heading-family);
}

p,
li {
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
}

.text-center {
  text-align: center;
}

.primary-font {
  font-family: var(--primary-font-family);
}

.heading {
  font-family: var(--important-heading-family);
}

.button-color {
  background-color: #ebe5d8;
}

.intro-body {
  margin: 96px 80px;
}

.intro {
  line-height: 24px;
}

.location-and-availability {
  margin-top: 36px;
  line-height: 32px;
}

.social-connect {
  color: var(--primary-font-color);
  font-size: 24px;
  margin: 15px 8px;
}

.social-connect-footer {
  color: var(--primary-font-color);
  font-size: 24px;
}

.contrast-background {
  background-color: var(--background-color);
  padding: 96px 80px;
}

.background-color {
  background-color: var(--background-color);
}

.skills-container {
  padding: 96px 80px;
}

.cert-bullet-points {
  padding: 0;
}

.certification-info {
  margin: 48px 0;
}

.contact-info {
  font-size: 24px;
  font-weight: bold;
}

.contact-info a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .top-mobile-breakpoint {
    margin-top: 130px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }

  .mobile-breakpoint,
  .contrast-background {
    padding: 90px 25px;
    text-align: center;
  }

  .skills-container {
    padding-top: 90px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: start;
  }
  .mail {
    font-size: 20px;
  }
  .weather-app {
    margin-top: 20px;
  }
}
